body {
    background-color: #121212;
    color: #ffffff;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
}
div {
    text-align: center;
    border: 8px solid #e6d45a; 
    padding: 20pa80px;
    background: #d7676d;
    width: 100px;
    border-radius: 45px;
}
